<script type="text/ng-template" id="configs.html">
<h1>The One and Only configuration page</h1>
<div ng-controller="ConfigsCtrl as ctrl">
  <h2>Workflows</h2>
  <table>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th></th>
    </tr>
    <tr ng-repeat="workflow in ctrl.workflows">
      <td>{{workflow.code}}</td>
      <td>{{workflow.description}}</td>
    </tr>

    <tr>
      <td>
        <input ng-model="ctrl.newWorkflow.code"></input>
      </td>
      <td>
        <input ng-model="ctrl.newWorkflow.description"></input>
      </td>
      <td>
        <button ng-click="ctrl.addNewWorkflow()">Add new workflow</button>
      </td>
    </tr>
  </table>

  <h2>Questions</h2>
  <table>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th></th>
    </tr>
    <tr ng-repeat="question in ctrl.questions">
      <td>{{question.code}}</td>
      <td>{{question.title}}</td>
    </tr>

    <tr>
      <td>
        <input ng-model="ctrl.newQuestion.code"></input>
      </td>
      <td>
        <input ng-model="ctrl.newQuestion.title"></input>
      </td>
      <td>
        <button ng-click="ctrl.addNewQuestion()">Add new question</button>
      </td>
    </tr>
  </table>

  <h2>Workflow Drivers</h2>
  <table>
    <tr>
      <th>Workflow</th>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    <tr ng-repeat="workflowDriver in ctrl.workflowDrivers">
      <td>{{ctrl.getWorkflowFromDriver(workflowDriver).description}}</td>
      <td>{{ctrl.getQuestionFromDriver(workflowDriver).title}}</td>
      <td>{{workflowDriver.answer}}</td>
    </tr>
  </table>
</div>
</script>
