<script type="text/ng-template" id="configs.html">
<h1>The One and Only configuration page</h1>
<div ng-controller="ConfigsCtrl as ctrl">
  <h2>Workflows</h2>
  <table>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th></th>
    </tr>
    <tr ng-repeat="workflow in ctrl.workflows">
      <td>{{workflow.code}}</td>
      <td>{{workflow.description}}</td>
      <td>
        <button ng-click="ctrl.removeWorkflow(workflow)">X</button>
    </tr>

    <tr>
      <td>
        <input ng-model="ctrl.newWorkflow.code"></input>
      </td>
      <td>
        <input ng-model="ctrl.newWorkflow.description"></input>
      </td>
      <td>
        <button ng-click="ctrl.addNewWorkflow()">Add new workflow</button>
      </td>
    </tr>
  </table>

  <h2>Questions</h2>
  <table>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th></th>
    </tr>
    <tr ng-repeat="question in ctrl.questions">
      <td>{{question.code}}</td>
      <td>{{question.title}}</td>
      <td>
        <button ng-click="ctrl.removeQuestion(question)">X</button>
      </td>
    </tr>

    <tr>
      <td>
        <input ng-model="ctrl.newQuestion.code"></input>
      </td>
      <td>
        <input ng-model="ctrl.newQuestion.title"></input>
      </td>
      <td>
        <button ng-click="ctrl.addNewQuestion()">Add new question</button>
      </td>
    </tr>
  </table>

  <h2>Workflow Drivers</h2>
  <table>
    <tr>
      <th>Workflow</th>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>
    <tr ng-repeat="workflowDriver in ctrl.workflowDrivers">
      <td>{{ctrl.getWorkflowFromDriver(workflowDriver).description}}</td>
      <td>{{ctrl.getQuestionFromDriver(workflowDriver).title}}</td>
      <td>{{workflowDriver.answer}}</td>
      <td>
        <button ng-click="ctrl.removeWorkflowDriver(workflowDriver)">X</button>
      </td>
    </tr>

    <tr>
      <td>
        <select ng-model="ctrl.newWorkflowDriver.workflow_id"
          ng-options="workflow.id as workflow.description for workflow in ctrl.workflows"
        >
        </select>
      </td>
      <td>
        <select ng-model="ctrl.newWorkflowDriver.question_id"
          ng-options="question.id as question.title for question in ctrl.questions"
        >
        </select>
      </td>
      <td>
        <select ng-model="ctrl.newWorkflowDriver.answer">
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
      </td>
      <td>
        <button ng-click="ctrl.addNewWorkflowDriver()">Add new workflow driver</button>
      </td>
    </tr>
  </table>

  <h2>Setting Drivers</h2>
  <table>
    <tr>
      <th>Setting</th>
      <th>Setting type</th>
      <th>Setting value</th>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>
    <tr ng-repeat="settingDriver in ctrl.settingDrivers">
      <td>{{settingDriver.setting}}</td>
      <td>{{settingDriver.setting_type}}</td>
      <td>{{settingDriver.setting_value}}</td>
      <td>{{ctrl.getQuestionFromDriver(settingDriver).title}}</td>
      <td>{{ctrl.getQuestionFromDriver(settingDriver).answer}}</td>
      <td>
        <button ng-click="ctrl.removeSettingDriver(settingDriver)">X</button>
      </td>
    </tr>

    <tr>
      <td>
        <input ng-model="ctrl.newSettingDriver.setting"></input>
      </td>
      <td>
        <select ng-model="ctrl.newSettingDriver.setting_type">
          <option value="site">Site</option>
          <option value="account">Account</option>
        </select>
      </td>
      <td>
        <input ng-model="ctrl.newSettingDriver.setting_value"></input>
      </td>
      <td>
        <select ng-model="ctrl.newSettingDriver.question_id"
          ng-options="question.id as question.title for question in ctrl.questions"
        >
        </select>
      </td>
      <td>
        <select ng-model="ctrl.newSettingDriver.answer">
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
      </td>
      <td>
        <button ng-click="ctrl.addNewSettingDriver()">Add new setting driver</button>
      </td>
    </tr>
  </table>
</div>
</script>
