<h1>Workflow Discovery<h1>

<h2>What would you like to do?</h2>
<ul>
  <li><%= link_to "Configure the app", configs_path %></li>
  <li><%= link_to "Discover a client's workflow", build_path %></li>
</ul>
